<nav>
    <ol>
        <li>
            <a n:tag-if="$menu->link" href="{plink $menu->link,id=>$menu->link_id}">
                {_$menu->title}
            </a>
            <ol n:if="$menu->related('menu')->count()" n:block="sitemap">
                <li n:foreach="$menu->related('menu') as $menu">
                    <a n:tag-if="$menu->link" href="{plink $menu->link,id=>$menu->link_id}">
                        {_$menu->title}
                    </a>
                    {include sitemap}
                </li>
            </ol>
        </li>
    </ol>
</nav>