<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" n:inner-foreach="$menu as $menu">
    <url n:if="$menu->link">
        <loc>{plink //$menu->link,id=>$menu->link_id}</loc>
    </url>
</urlset>